%html
  %head
    %title #{name} sucks.
  %body
    %h1 #{name} sucks.
    %svg{:xmlns => "http://www.w3.org/2000/svg"}
      %text{:style => "stroke: #653f8f; fill: #ffffff"; font-size: 4em;"} #{name} sucks.
