%html
  %head
    %title #{name} sucks.
  %body
    %svg{:xmlns => "http://www.w3.org/2000/svg"}
      %text{:x => "10", :y => "40", :style => "stroke: #653f8f; fill: #ffffff; font-size: 4em;"} #{name} sucks.
